.AuthByUsername {
    min-width: 400px;
    min-height: 200px;
    background: #999191;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.btnWrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.btn {
    align-self: flex-end;
}
