.Auth {
    min-width: 400px;
    min-height: 200px;
    background: #999191;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.input_t {
    width: 100%;
    min-height: 30px;
    margin: 10px;
}

.btnWrapper {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
}
