.TestList {
    flex: 1 1 auto
}

.title {
    color: #000;
}

.overTable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 40px;
}
 
.tableWrapper {
    max-height: 400px;
    overflow-y: scroll;
}
  
  