.answerBody {
    color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answers {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.enterAnswer {
    margin-left: 10px;
    margin-top: 5px;
}

.labelForText {
    margin-right: 10px;
}

.hid {
    visibility: hidden;
}

.btnWrap {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.btnDelete {
    margin-top: 10px;
}
